@page
@model MediTrack.Identity.Pages.Account.Logout.LoggedOut

<div class="card-page">
    <div class="card">
        <div class="card-header">
            <h1>Logged Out</h1>
            <p>You have been successfully signed out.</p>
        </div>

        @if (Model.View.PostLogoutRedirectUri is not null)
        {
            <p class="return-link">
                Click <a href="@Model.View.PostLogoutRedirectUri">here</a> to return to
                <strong>@(Model.View.ClientName ?? Model.View.ClientOrigin ?? Model.View.PostLogoutRedirectUri)</strong>.
            </p>
        }

        @if (Model.View.SignOutIframeUrl is not null)
        {
            <iframe width="0" height="0" class="signout" src="@Model.View.SignOutIframeUrl"></iframe>
        }

        <p class="redirect-notice">
            Redirecting in <span id="logout-countdown" data-redirect="@Model.View.AutoRedirectTarget">5</span> second(s)&hellip;
        </p>
    </div>
</div>

@section scripts {
    <script src="~/js/logout-countdown.js"></script>
}
